doctype html
html
  head
    title= "department"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(Id = "welcome_place" class = "link") Welcome Place
      a(Id = "employee" class = "link") Employee
      a(Id = "department" class = "link") Department
      a(Id = "position" class = "link") Position

    article(class = "search")
      input(type="text" placeholder='search by ID' id="ID")
      input(type="text" placeholder='search by FirstName' id="Name")

    article(class = "add")
      form(name = "form2" method = 'get')
            input(type="text" placeholder='Name' name='name')
      a(id = "add" class= 'button') +
      
    table 
      thead 
        tr 
          th(scope="col") ID
          th(scope="col") Name
          th(scope="col") 
      tbody 


  script(type = 'module' src='/javascripts/redirection.js')
  script(type = 'module' src='/javascripts/department.js')
  script(type = 'module' src='/javascripts/search.js')