doctype html
html
  head
    title= "employee"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(Id = "welcome_place" class = "link") Welcome Place
      a(Id = "employee" class = "link") Employee
      a(Id = "department" class = "link") Department
      a(Id = "position" class = "link") Position

    article(class = "search")
      input(type="text" placeholder='search by ID' id="ID")
      input(type="text" placeholder='search by FirstName' id="Name")
      input(type="text" placeholder='search by LastName' id="LastName")
      input(type="text" placeholder='search by Adress' id="Adress")
      input(type="text" placeholder='search by Seniority' id="Seniority")
      input(type="text" placeholder='search by Department' id="Department")
      input(type="text" placeholder='search by Position' id="Position")

    article(class = "add")
      form(name = "form2" method = 'get')
            input(type="text" placeholder='FirstName' name='firstname')
            input(type="text" placeholder='LastName' name='lastname')
            input(type="text" placeholder='Adress' name='adress')
            input(type="number" placeholder='Seniority' name='seniority')
            input(type="text" placeholder='Department' name='department')
            input(type="text" placeholder='Position' name='position')
      a(id = "add" class= 'button') +
      
    table 
      thead 
        tr 
          th(scope="col") ID
          th(scope="col") FirstName
          th(scope="col") LasttName
          th(scope="col") Adress
          th(scope="col") Seniority
          th(scope="col") Department
          th(scope="col") Position
          th(scope="col") 
      tbody 

  script(type = 'module' src='/javascripts/redirection.js')
  script(type = 'module' src='/javascripts/employee.js')
  script(type = 'module' src='/javascripts/search.js')