doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(Id = "Employee" class = "link") Employee
      a(Id = "Employee" class = "link") Employee
      a(Id = "Employee" class = "link") Employee
    article(class = "search")
      form(action="") 
    article(class = "add")
      form(action="")

      
  script(type = 'module' src='/javascripts/index.js')