doctype html
html
  head
    title= "position"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(Id = "welcome_place" class = "link") Welcome Place
      a(Id = "employee" class = "link") Employee
      a(Id = "department" class = "link") Department
      a(Id = "position" class = "link") Position

    article(class = "search")
      input(type="text" placeholder='search by ID' id="ID")
      input(type="text" placeholder='search by FirstName' id="Name")
      input(type="text" placeholder='search by Authority' id="Authority")
      input(type="text" placeholder='search by Department' id="DepartmentID")
      input(type="text" placeholder='search by Salary' id="Salary")

    article(class = "add")
      form(name = "form2" method = 'get')
            input(type="text" placeholder='Name' name='name')
            input(type="number" placeholder='Authority' name='authority')
            input(type="text" placeholder='Department' name='department')
            input(type="number" placeholder='Salary' name='salary')
      a(id = "add" class= 'button') +

    table 
      thead 
        tr 
          th(scope="col") ID
          th(scope="col") Name
          th(scope="col") Authority
          th(scope="col") Department
          th(scope="col") Salary
          th(scope="col") 
      tbody 


  script(type = 'module' src='/javascripts/redirection.js')
  script(type = 'module' src='/javascripts/position.js')
  script(type = 'module' src='/javascripts/search.js')